.container {
  background-color: #f9f9f9;
}

.historySide {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding-right: 5rem;
  padding-bottom: 3rem;

}

.MyBookHistory {
  background-color: #ffffff;
  width: 62.5rem;
  height: 41.1rem;
}

.header {
  padding-top: 2.1rem;
  padding-right: 2.8rem;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 2.5rem;
  text-align: right;
  color: #303857;
}

.scrollbar {
  overflow-y: scroll;
  background: rgb(255, 255, 255);
  width: 54.8rem;
  height: 32.5rem;
  margin: 1.2rem auto;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    border-radius: 0.6rem;
    background: rgba(48, 56, 87, 0.5);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 0.6rem;
    background-color: #303857;
  }
}

.myBookCards {
  display: flex;
  gap: 0.6rem;
}

.bookCard {
  background: none;
  border: none;
  width: 8.3rem;
  height: 15.6rem;
  margin-bottom: 1.2rem;
  text-align: center;
  img {
    margin-top: -0.8rem;
    width: 8rem;
    height: 11.5rem;
  }
  h4 {
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    color: #303857;
    inline-size: 8.1rem;
    display: inline-block;
    width: 6.8rem;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }
  p {
    font-weight: lighter;
    font-size: 0.8rem;
    text-align: center;
    color: #303857;
  }
  &:hover {
    cursor: pointer;
    transform: scale(1.04);
    background: rgba(48, 56, 87, 0.06);
    transition: 0.3s;
  }
  &:focus {
    transform: scale(1.04);
    background: rgba(48, 56, 87, 0.06);
    transition: 0.3s;
    outline: none;
  }
}