@use "../../styles/variables" as vars;

.container {
  background-color: vars.$primary_2;
}

.historySide {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding-right: 5rem;
  padding-bottom: 3rem;

}

.MyBookHistory {
  background-color: vars.$secondary_1;
  width: 62.5rem;
  height: 41.1rem;
  border-radius: 0.6rem;
}

.header {
  padding-top: 2.1rem;
  padding-right: 2.8rem;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 2.5rem;
  text-align: right;
  color: #303857;
}

.scrollbar {
  overflow-y: scroll;
  background: vars.$secondary_1;
  width: 58rem;
  height: 38rem;
  margin: 1.5rem 2.2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  background: vars.$primary_2;
  border-radius: 0.6rem;
  padding: 1rem;
  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    border-radius: 0.6rem;
    background: vars.$secondary_2;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 0.6rem;
    background-color: vars.$primary_1;
    min-height: 3rem;
  }

}

.noList {
  padding: 3rem;
  width: 62.5rem;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #939393;
}

.listContent {
  display: flex;
  flex-direction: row;
  padding-right: 1rem;
  width: 49%;
  height: 10rem;
  background: vars.$primary_1;
}

.listPic {
  img {
    object-fit: cover;
    width: 8rem;
    height: 12rem;
    border-bottom-left-radius: 13rem;
    border-bottom-right-radius: 13rem;
  }
}

.listDescription {
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
  color: vars.$primary_2;
  text-align: right;
  width: 290px;
  padding-top: 0.6rem;
  gap: 0.6rem;
  cursor: pointer;
}

.titleAuthor {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.listTitle {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 50%;
}

.listAuthor {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 0.5rem;
}

.listIncludes {
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.8rem;
  letter-spacing: -5%;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-height: 3.6rem;
}
