@use "../../styles/variables" as vars;

.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(0.6rem);
}

.modalOverlay {
  position: fixed;
  z-index: 1001;
  width: 52rem;
  height: 32rem;
  top: 11rem;
  right: 20.5rem;
  border-radius: 0.6rem;
  border: 0.3rem solid vars.$primary_1;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1.2rem);
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.bookListContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 24rem;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    width: 0.2rem;
  }
  &::-webkit-scrollbar-track {
    border-radius: 0.6rem;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 0.6rem;
    min-height: 3rem;
    background: vars.$secondary_2;
    transition: background 0.3s ease;
  }

}

.userListDrawer {
  display: flex;
  flex-direction: column;
  width: 51.25rem;
  padding-top: 1rem;
  gap: 3rem;
}

.listContent {
  display: flex;
  flex-direction: row;
  background: vars.$primary_1;
  height: 8rem;
  gap: 0.5rem;

  .listPic {
    padding-right: 1.3rem;
  }

  .listDescription {
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
    color: vars.$primary_2;
    text-align: right;
    padding-top: 0.6rem;
    gap: 0.6rem;
    width: 85%;
  }

  .listTitle {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 95%;
    width: 95%;
  }

  .listIncludes {
    width: 40rem;
    font-weight: 900;
    font-size: 1rem;
    line-height: 1.8rem;
    letter-spacing: -5%;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-height: 3.6rem;
  }
}

.createListContainer {
  text-align: center;
  align-items: center;
  padding-top: 2rem;
}

.createListBtn {
  width: 13rem;
  height: 3.5rem;
  border: 3px solid vars.$primary_1;
  border-radius: 0.6rem;
  background: vars.$primary_1;
  color: vars.$primary_2;
  font-weight: 700;
  font-size: 1.3rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  transition: background 0.3s ease;

  &:hover {
    cursor: pointer;
    background: vars.$secondary_1;
    border: 3px solid vars.$primary_1;
    color: vars.$primary_1;
    box-shadow: none;
  }

  &:focus {
    cursor: pointer;
    background: vars.$secondary_1;
    border: 3px solid vars.$primary_1;
    color: vars.$primary_1;
    box-shadow: none;
    outline: none;
  }
}

.btnContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

//cl -> create list

.clModalOverlay {
  position: fixed;
  z-index: 1001;
  width: 63rem;
  height: 24rem;
  top: 12rem;
  right: 14rem;
  border-radius: 0.6rem;
  border: 0.3rem solid vars.$primary_1;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(1.6rem);
}

.clModalContent {
  display: flex;
  flex-direction: row;
  padding: 3rem;
  gap: 5.5rem;
}

.clListPhoto {
  background: vars.$primary_2;
  width: 12rem;
  height: 17rem;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  text-align: center;
  align-content: center;
  padding-bottom: 1.5rem;
}

.clPlusIcon {
  width: 5.3rem;
  height: 5.3rem;
  color: vars.$primary_1;
}

.clListInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.clListNameInput {
  width: 36rem;
  height: 3rem;
  padding: 1.25rem 0.87rem;
  border: 2px solid vars.$secondary_2;
  border-radius: 0.6rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
  background: rgba(255, 255, 255, 0.30);
  //background: none;
  &:focus {
    outline: 1px solid vars.$primary_1;
    border: 2px solid vars.$primary_1;
  }
  &::placeholder {
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
    color: rgba(48, 56, 87, 0.5);
  }
}

.clListNameMode {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15.1rem;
  color: vars.$secondary_2;
}

.clPrivateListSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.clPrivateBtn {
  width: 4.5rem;
  height: 2.3rem;
  border-radius: 30px;
  border: 3px solid vars.$primary_1;
  background: vars.$primary_2;
  padding: 0 0.2rem;
  transition: padding-right 0.5s ease-in-out , background 0.5s ease-in-out;

  &:hover {
    cursor: pointer;
  }

  &.selected {
    background: vars.$primary_1;
    padding-right: 2.3rem;
  }
}

.clCircleInBtn {
  width: 1.5rem;
  height: 1.5rem;
  background: vars.$primary_1;
  border-radius: 50%;
  padding: 0 0.5rem;
  transition: background 0.5s ease-in-out;
  &.selected {
    background: vars.$primary_2;
  }
}

.clSubmitListBtn {
  width: 9rem;
  height: 3.5rem;
  border-radius: 0.6rem;
  background: vars.$primary_1;
  border: 3px solid vars.$primary_1;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  transition: background 0.3s;
  color: vars.$primary_2;
  font-weight: 300;
  font-size: 1rem;
  line-height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
    background: vars.$primary_2;
    border: 3px solid vars.$primary_1;
    color: vars.$primary_1;
  }
  &:focus {
    outline: none;
    background: vars.$primary_2;
    border: 3px solid vars.$primary_1;
    color: vars.$primary_1;
  }
}