.container {
  width: 100%;
  height: 177px;
  background: #f9f9f9;
  display: flex;
  flex-direction: row;
  ::placeholder {
    color: rgba(48, 56, 87, 0.5);
  }
  align-items: center;
  justify-content: center;
}

.menu {
  width: 60px;
  height: 60px;
  margin-left: 60px;
  margin-right: 54px;
  margin-top: -20px;
  transition: background 0.3s;
  &:hover{
    cursor: pointer;
    background: rgba(48, 56, 87, 0.06);
    border-radius: 10px;
    outline: none;
  }
}

.userIcon {
  width: 79px;
  height: 79px;
  border: 1px solid #303857;
  border-radius: 50%;
  margin-left: 60px;
  margin-top: -20px;
  object-fit: contain;

  &:hover {
    cursor: pointer;
  }
  img{
    width: 77px;
    height: 77px;
    margin: auto;
  }
}

.searchBar {
  input{
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    color: #303857;
    width: 972px;
    height: 64px;
    border: 1px solid #303857;
    border-radius: 50px;
    padding: 12px 30px;
    background-color: #f9f9f9;
    margin-top: -20px;
    &:focus {
      outline: 2px solid #303857;
    }
  }
  img{
    width: 40px;
    height: 40px;
    position: absolute;
    margin-right: -55px;
    margin-top: -8px;
    &:hover {
      cursor: pointer;
      transform: scale(1.15);
    };
  }
}

.logoIcon {
  width: 111px;
  height: 97px;
  margin-top: -48px;
  margin-left: auto;
  margin-right: 21px;

}
.drawerMenu {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 832px;
  background-color: #1e2a46;
  color: white;
  transition: right 0.3s ease-in-out;
  padding: 20px;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  img{
    width: 40px;
    height: 40px;
  }
}
.drawerMenu.open {
  right: 0;
}

.drawerMenu ul {
  list-style: none;
  padding: 0;
}

.drawerMenu ul li {
  padding: 15px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 5px;
  white-space: nowrap;
}

.drawerMenu ul li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.icons{
  margin-top:60px;
  display: flex;
  align-items: center;
  gap: 18px;
  margin-right: 40px;
    img{
    width: 48px;
    
  }
}
.modalOverlay {
  position: fixed;
  top: 205px;
  width: 889px;
  height: 422px;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px #303857 solid;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  flex-direction: column;
  z-index: 1000;
  text-align: center;
  padding: 20px;
  gap: 90px;
  h3 {
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 10px;
  }

}




.modalButtons {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.confirm, .cancel {
  padding: 10px 20px;
  width: 138px;
  height: 56px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid #303857;
  

}

.confirm {
  background: #303857;
  color: white;
}


.cancel {
  background: #df3434;
  color: rgb(255, 255, 255);
}



