.footer {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  border-top: 5px solid #f9f9f9;
  width: 100%;
  height: 230px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 115px;
}

.section h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 20px 0 10px 0;
  color: #303857;
}

.section ul {
  list-style: none;
  padding: 0;
}

.section li {
  font-size: 20px;
  font-weight: 400;
  color: #303857;
  margin-bottom: 15px;
}

//.section li:hover {
//  cursor: pointer;
//  color: black;
//}

.container p {
  margin-top: 15px;
  font-size: 14px;
  color: #303857;
  text-align: center;
  justify-content: center;
}
.container img {
  width: 2000px;
  height: 97px;
  justify-content: center;
}

.container a {
  text-decoration: none;
  color: #303857;
}
 .container a:hover {
   cursor: pointer;
   color: black;
 }