.footer {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  border-top: 5px solid #f9f9f9;
  width: 100vw;
  height: 230px;

}

.container {
  display: flex;
  justify-content: center;
  gap: 115px;
  a {
    text-decoration: none;
    color: #303857;

    &:focus {
      outline: none;
    }
  }
  p {
    margin-top: 15px;
    font-size: 14px;
    color: #303857;
    text-align: center;
    justify-content: center;
  }
}

.section {
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    font-size: 20px;
    font-weight: 400;
    color: #303857;
    margin-bottom: 15px;
  }
  h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0 10px 0;
    color: #303857;
  }
}

