@use "../../styles/variables" as vars;

.VerifyEmailContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: vars.$primary_2;
  gap: 5rem;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 100%;
  text-align: center;
  color: vars.$primary_1;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16.25rem;
}

.emailForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
}

.hintPara {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: right;
  color: vars.$primary_1;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
}

.emailInput {
  position: relative;
  width: 26rem;
  height: 3.5rem;
  border-radius: 0.6rem;
  border: 2px solid vars.$primary_1;
  padding: 0.5rem;
  color: vars.$primary_1;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;

  &:focus {
    outline: none;
    border: 3px solid vars.$primary_1;
  }

  &::placeholder {
    color: vars.$secondary_2;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0;
  }
}

.linkToVerifyPassword {
  text-decoration: none;
}

.submitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  height: 4rem;

  font-weight: 700;
  font-size: 1.5rem;
  line-height: 100%;

  border-radius: 1.3rem;
  border: none;
  color: vars.$primary_2;
  background: vars.$primary_1;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

  transition: background 0.3s;

  &:hover {
    cursor: pointer;
    background: vars.$primary_2;
    border: 3px solid vars.$primary_1;
    color: vars.$primary_1;
    box-shadow: none;
  }

  &:focus {
    cursor: pointer;
    background: vars.$primary_2;
    border: 3px solid vars.$primary_1;
    color: vars.$primary_1;
    box-shadow: none;
    outline: none;
  }
}

.rememberPass {
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  text-align: center;
  color: vars.$secondary_3;
}

.backToLogin {
  text-decoration: none;
  color: vars.$primary_1;
}

.error {
  color: #c30b0b;
  font-size: 1.2rem;
  display: flex;
}

.notificationModal {
  position: fixed;
  top: 0;
  right: auto;
  transform: translateX(-50%);
  padding: 1rem 1.8rem;
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
  z-index: 1002;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

  &.error {
    background-color: #c30b0b;
  }
}

.notificationContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.closeButton {
  margin-right: 1.8rem;
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.loadingText {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  text-align: center;
  justify-content: space-between;
  //color: $secondary_color;

  &::after {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 0.2rem solid vars.$primary_1;
    //color: $secondary_color;
    border-radius: 50%;
    border-top-color: white;
    animation: spin 1s ease-in-out infinite;

    &:hover {
      color: vars.$primary_1;

    }
  }
  &:hover{
    color: vars.$primary_1;
  }
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.submitBtn:disabled {
  cursor: not-allowed;
}