@use "../../styles/variables" as vars;

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  background-color: vars.$primary_2;
}

.pic {
  width: 44.3rem;
  height: 22.5rem;
  margin: -5rem 17.8rem 2.8rem 17.8rem;
  align-items: center;
}

.para {
  font-size: 2rem;
  font-weight: 500;
  color: vars.$primary_1;
  margin-bottom: 6.25rem;
  margin-top: -5px;
}
