@use "../../styles/_variables.scss" as vars;

.container {
  background: vars.$secondary_1;
  width: 16.5rem;
  height: 41.125rem;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  //gap: 1.88rem;
}

.profileImage {
  width: 8.75rem;
  height: 8.75rem;
  border-radius: 50%;
  border: 1px solid vars.$primary_1;
  object-fit: contain;
}

.editBtns {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  margin-top: -2.5rem;
}

.editBtn {

  background-color: vars.$primary_1;
  width: 2.375rem;
  height: 2.375rem;
  border: none;
  border-radius: 50%;
  z-index: 1;
  img {
    width: 1.188rem;
    height: 1.383rem;
    margin: 0.438rem 0.563rem 0.438rem 0.563rem ;
  }
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  &:focus {
    outline: none;
    transform: scale(1.1);
  }

}

.deleteBtn {
  background-color: #c30b0b;
  width: 2.375rem;
  height: 2.375rem;
  border: none;
  border-radius: 50%;
  z-index: 1;
  img {
    width: 1.9rem;
    height: 1.9rem;
    margin: 0.175rem 0.25rem 0.438rem 0.563rem ;
    border: none;
  }
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  &:focus {
    outline: none;
    transform: scale(1.1);
  }
}

.deleteBtnNotVisible {
  opacity: 0;
  background-color: #c30b0b;
  width: 2.375rem;
  height: 2.375rem;
  border: none;
  border-radius: 50%;
  z-index: 1;
  img {
    width: 1.9rem;
    height: 1.9rem;
    margin: 0.175rem 0.25rem 0.438rem 0.563rem ;
    border: none;
  }
  &:focus {
    outline: none;
  }
}

.userInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  margin-top: 2.1rem;
}

.userName {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 900;
  min-height: 2rem;
  max-height: 2rem;
  min-width: 14rem;
  max-width: 14rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: ltr;
}

.bio {
  font-size: 1.2em;
  min-height: 2rem;
  max-height: 2rem;
  font-weight: 500;
  line-height: 2rem;
  min-width: 14rem;
  max-width: 14rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: ltr;
}

.optionBtns {

  margin-top: 1.5rem;

  button {
    border: none;
    background-color: white;
    width: 16.5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transition: background 0.3s;
    p {
      font-size: 1.125rem;
      line-height: 2.5rem;
      color: vars.$primary_1;
      font-weight: 300;
    }
    img {
      width: 1.875rem;
      height: 1.875rem;
      margin-right: 1.25rem;
      margin-left: 0.68rem;
    }
  }
  button:hover {
    cursor: pointer;
    background: rgba(48, 56, 87, 0.06);
  }
  button:focus {
    border: none;
    outline: none;
    background: rgba(48, 56, 87, 0.06);
  }
  a{
    text-decoration: none;
  }

}

.hr {
  width: 14.375rem;
  border: 1px solid rgba(48, 56, 87, 0.5);
  margin: 0 auto 0;
  border-radius: 1px;
}