$primary_1: #303857;

.container {
  background-color: white;
  width: 16.5rem;
  height: 41.125rem;
  margin: -41.125rem 3.75rem 3.5rem 58.75rem;
  display: flex;
  flex-direction: column;
}

.head {
  text-align: center;
  h2 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 900;
  }
  h6 {
    margin-bottom: 3.1rem;
    font-size: 1.2em;
    max-height: 1rem;
    font-weight: 500;
    line-height: 2rem;
    text-align: center;
    text-wrap: wrap;
    word-wrap: break-word;

  }
  img {
    margin: -9.375rem 0 1.938rem 0;
    width: 8.75rem;
    height: 8.75rem;
    border: 1px solid $primary_1;
  }
}

.options {
  button {
    border: none;
    background-color: white;
    width: 16.5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transition: background 0.3s;
    p {
      font-size: 1.125rem;
      line-height: 2.5rem;
      color: $primary_1;
      font-weight: 300;
    }
    img {
      width: 1.875rem;
      height: 1.875rem;
      margin-right: 1.25rem;
      margin-left: 0.68rem;
    }
  }
  button:hover {
    cursor: pointer;
    background: rgba(48, 56, 87, 0.06);
  }
  button:focus {
    border: none;
    outline: none;
    background: rgba(48, 56, 87, 0.06);
  }
  a{
    text-decoration: none;
  }
}

.hr {
  width: 14.375rem;
  border: 1px solid rgba(48, 56, 87, 0.5);
  margin: 0 auto 0;
  border-radius: 1px;
}



.profileImage {
  width: 8.75rem;
  height: 8.75rem;
  border-radius: 50%;
  object-fit: contain;
  //padding-top: 0.6rem;
}

.deleteBtn {
  background-color: #c30b0b;
  width: 2.375rem;
  height: 2.375rem;
  border: none;
  border-radius: 50%;
  margin-right: -9.5rem;
  margin-top: 9.25rem;
  position: absolute;
  z-index: 1;
  img {
    width: 1.9rem;
    height: 1.9rem;
    margin: 0.175rem 0.25rem 0.438rem 0.563rem ;
    border: none;
  }
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  &:focus {
    outline: none;
    transform: scale(1.1);
  }
}

.editBtn {
  background-color: $primary_1;
  width: 2.375rem;
  height: 2.375rem;
  border: none;
  border-radius: 50%;
  margin-right: 7rem;
  margin-top: 9.25rem;
  position: relative;
  z-index: 1;
  img {
    width: 1.188rem;
    height: 1.383rem;
    margin: 0.438rem 0.563rem 0.438rem 0.563rem ;
  }
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  &:focus {
    outline: none;
    transform: scale(1.1);
  }

}