.container {
  background-color: #f9f9f9;
}

.update {
  background-color: white;
  width: 806px;
  height: 658px;
  margin-right: 375px;
  margin-top: 15px;
}

.userName {
  width: 342px;
  height: 49px;
  border: 2px solid rgba(48, 56, 87, 0.5);
  border-radius: 10px;
  margin: 100px 40px 20px 41px;
}

.userEmail {
  width: 342px;
  height: 49px;
  border: 2px solid rgba(48, 56, 87, 0.5);
  border-radius: 10px;
}

.fName {
  width: 342px;
  height: 49px;
  border: 2px solid rgba(48, 56, 87, 0.5);
  border-radius: 10px;
  margin: 0 40px 20px 41px;
}

.dayOfBirth {
  appearance: none;
  font-size: 24px;
  font-weight: normal;
  width: 88px;
  height: 49px;
  border: 2px solid rgba(48, 56, 87, 0.5);
  margin-left: 5px;
  color: rgba(48, 56, 87, 0.5);
}

.monthOfBirth {
  appearance: none;
  width: 147px;
  height: 49px;
  border: 2px solid rgba(48, 56, 87, 0.5);
  margin-left: 5px;
  font-size: 24px;
  font-weight: normal;
  color: rgba(48, 56, 87, 0.5);
  //background-image: url("/Users/smm/Uni/T6/SE/Project/bookapp/src/components/FAQContainer/toggleIconDown.svg");

  //width: 200px;
  //padding: 10px;
  //border: 2px solid #ccc;
  //border-radius: 5px;
  //background-color: #f8f9fa;
  //appearance: none; // Remove default styling
  ////-webkit-appearance: none;
  //-moz-appearance: none;
  //cursor: pointer;
  //position: relative;
  ////background-image: url("");
  //background-repeat: no-repeat;
  //background-position: right 10px center;
  //background-size: 15px;
  //::-ms-expand {
  //  display: none;
  //}
  //:focus {
  //  background-color: #e0f7fa;
  //  border-color: #007bff;
  //  outline: none;
  //}


}

.yearOfBirth {
  appearance: none;
  width: 97px;
  height: 49px;
  font-size: 24px;
  font-weight: normal;
  border: 2px solid rgba(48, 56, 87, 0.5);
  color: rgba(48, 56, 87, 0.5);
}