$primary_1 : #303857;
$secondary_color : #f9f9f9;

.container {
  background-color: $secondary_color;
}

.editSide{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding-right: 5rem;
  padding-bottom: 3rem;
}

.update {
  background-color: white;
  width: 62.5rem;
  height: 41.1rem;
}

.userEmailName{
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  padding-right: 3rem;
}

.userFNameBirth{
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  padding-right: 3rem;
}

.userLNameBio {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  padding-right: 3rem;
}

.userGenderNumber {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  padding-right: 3rem;
}

.Btns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding-top: 8rem;
}

.Birth {
  display: flex;
  flex-direction: row;
}

.EditProfilefield {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 6.25rem;
}

.userName {
  width: 26.8rem;
  height: 3rem;
  padding: 1.25rem 0.87rem;
  border: 2px solid rgba(48, 56, 87, 0.5);
  border-radius: 0.6rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;

  &:focus {
    outline: 1px solid $primary_1;
    border: 2px solid $primary_1;
  }
  &::placeholder {
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
    color: rgba(48, 56, 87, 0.5);
  }
}

.userEmail {
  width: 26.8rem;
  height: 3rem;
  padding: 1.25rem 0.87rem;
  border: 2px solid rgba(48, 56, 87, 0.5);
  border-radius: 0.6rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
  direction: ltr;
  color: rgba(48, 56, 87, 0.5);

  &:focus {
    outline: 1px solid $primary_1;
    border: 2px solid $primary_1;
    color: rgba(48, 56, 87, 0.5);

  }
  &::placeholder {
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: rgba(48, 56, 87, 0.5);
  }
}

.firstName {
  width: 26.8rem;
  height: 3rem;
  padding: 1.25rem 0.87rem;
  border: 2px solid rgba(48, 56, 87, 0.5);
  border-radius: 0.6rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;

  &:focus {
    outline: 1px solid $primary_1;
    border: 2px solid $primary_1;
  }
  &::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: rgba(48, 56, 87, 0.5);
  }
}

.dayOfBirth {
  appearance: none;
  width: 7.3rem;
  height: 3rem;
  text-align-last: center;
  padding-left: 1.25rem;
  margin-left: 5px;
  font-size: 1rem;
  font-weight: 500;
  border: 2px solid rgba(48, 56, 87, 0.5);
  border-radius: 0.6rem;
  color: rgba(48, 56, 87, 0.5);
  background: url(icons/downIcon.svg) no-repeat left center ;

  &:focus {
    outline: 1px solid $primary_1;
    border: 2px solid $primary_1;
  }

  &.selected {
    color: $primary_1;
  }
}

.monthOfBirth {
  appearance: none;
  width: 11rem;
  height: 3rem;
  text-align-last: center;
  padding-left: 0.6ren;
  margin-left: 5px;
  border: 2px solid rgba(48, 56, 87, 0.5);
  border-radius: 0.6rem;
  font-size: 1rem;
  font-weight: 500;
  color: rgba(48, 56, 87, 0.5);
  background: url(icons/downIcon.svg) no-repeat left center ;

  &:focus {
    outline: 1px solid $primary_1;
    border: 2px solid $primary_1;
  }
  &.selected {
    color: $primary_1;
  }
}

.yearOfBirth {
  appearance: none;
  width: 7.9rem;
  height: 3rem;
  text-align-last: center;
  padding-left: 1rem;
  font-size: 1rem;
  font-weight: 500;
  border: 2px solid rgba(48, 56, 87, 0.5);
  border-radius: 10px;
  color: rgba(48, 56, 87, 0.5);
  background: url(icons/downIcon.svg) no-repeat left center ;

  &:focus {
    outline: 1px solid $primary_1;
    border: 2px solid $primary_1;
  }
  &.selected {
    color: $primary_1;
  }
}

.lastName {
  width: 26.8rem;
  height: 3rem;
  padding: 1.25rem 0.87rem;
  border: 2px solid rgba(48, 56, 87, 0.5);
  border-radius: 0.6rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;

  &:focus {
    outline: 1px solid $primary_1;
    border: 2px solid $primary_1;
  }
  &::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: rgba(48, 56, 87, 0.5);
  }
}

.password {
  width: 26.8rem;
  height: 3rem;
  border: 2px solid rgba(48, 56, 87, 0.5);
  border-radius: 0.6rem;
  font-size: 1rem;
  padding-top: 5px;
  padding-right: 0.8rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: $primary_1;
  padding-bottom: 5px;

  &:focus {
    outline: 1px solid $primary_1;
    border: 2px solid $primary_1;
  }
  &::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: rgba(48, 56, 87, 0.5);
    letter-spacing: 0;
  }
}

.showPasswordBtn {
  position: absolute;
  border: none;
  background: none;
  margin-right: -1.8rem;
  margin-top: 1rem;
  color: rgba(48, 56, 87, 0.5);
}

.bio {
  width: 26.8rem;
  height: 3rem;
  padding: 1.25rem 0.87rem;
  border: 2px solid rgba(48, 56, 87, 0.5);
  border-radius: 0.6rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
  color: $primary_1;
  &:focus {
    outline: 1px solid $primary_1;
    border: 2px solid $primary_1;
  }
  &::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: rgba(48, 56, 87, 0.5);
  }
}

.dropdown {
  position: relative;
  width: 23.3rem;
  height: 0;
}

.gender {
  width: 26.8rem;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.2rem;
  border: 2px solid rgba(48, 56, 87, 0.5);
  border-radius: 0.6rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  color: rgba(48, 56, 87, 0.5);
  background-color: white;

  &:hover {
    cursor: pointer;
    outline: 1px solid $primary_1;
    border: 2px solid $primary_1;
  }

  &:focus {
    outline: 1px solid $primary_1;
    border: 2px solid $primary_1;
  }

  &.selected {
    color: $primary_1;
  }
}

.disableGender {
  width: 26.8rem;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.2rem;
  border: 2px solid rgba(48, 56, 87, 0.5);
  border-radius: 0.6rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  color: rgba(48, 56, 87, 0.5);
  background-color: white;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -0.75rem;
  color: rgba(48, 56, 87, 0.5);
}

.dropDownMenu {
  position: absolute;
  top: 2.75rem;
  right: 1.65rem;
  width: 100%;
  margin-top: 5px;
  background: rgba(48, 56, 87, 0.9);
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  overflow: hidden;
}

.option {
  width: 100%;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  color: $secondary_color;
  border: none;
  background: none;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background: $primary_1;
  }
  &:focus {
    background: $primary_1;
    outline: none;
  }
}

.hr {
  width: 18rem;
  border: 1px solid rgba(249, 249, 249, 0.5);
  margin: 0 auto 0;
  border-radius: round(1px);
}

.disablePhoneNumber {
  width: 26.8rem;
  height: 3rem;
  padding: 1.2rem 0.8rem;
  border: 2px solid rgba(48, 56, 87, 0.5);
  border-radius: 0.6rem;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: left;
  direction: ltr;
  &::placeholder {
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
    color: rgba(48, 56, 87, 0.5);
  }
}

.phoneNumber {
  width: 26.8rem;
  height: 3rem;
  padding: 1.2rem 0.8rem;
  border: 2px solid rgba(48, 56, 87, 0.5);
  border-radius: 0.6rem;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-right: 3.5rem;
  text-align: left;
  direction: ltr;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }

  &:focus {
    outline: 1px solid $primary_1;
    border: 2px solid $primary_1;
  }

  &::placeholder {
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
    color: rgba(48, 56, 87, 0.5);
  }
}

.changePassBtn {
  width: 12.5rem;
  height: 4rem;
  text-align-last: center;
  color: $secondary_color;
  font-size: 1.3rem;
  font-weight: 600;
  border: 2px solid rgba(48, 56, 87, 0.5);
  border-radius: 0.6rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  transition: background 0.3s;
  background-color: $primary_1;

  &:hover {
    cursor: pointer;
    background: $secondary_color;
    border: 3px solid $primary_1;
    color: $primary_1;
    box-shadow: none;
  }

  &:focus {
    cursor: pointer;
    background: $secondary_color;
    border: 3px solid $primary_1;
    color: $primary_1;
    box-shadow: none;
    outline: none;
  }

}

.updateProfileBtn {
  width: 12.5rem;
  height: 4rem;
  text-align-last: center;
  color: $secondary_color;
  font-size: 1.3rem;
  font-weight: 600;
  border: 2px solid rgba(48, 56, 87, 0.5);
  border-radius: 0.6rem;
  background-color: $primary_1;
  transition: background 0.3s;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

  &:hover {
    cursor: pointer;
    background: $secondary_color;
    border: 3px solid $primary_1;
    color: $primary_1;
    box-shadow: none;
  }

  &:focus {
    cursor: pointer;
    background: $secondary_color;
    border: 3px solid $primary_1;
    color: $primary_1;
    box-shadow: none;
    outline: none;
  }
}

.genderoverlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(0.6rem);
}

.modalcontent {
  position: fixed;
  z-index: 1001;
  width: 38rem;
  height: 23.4rem;
  top: 15rem;
  right: 27rem;
  border-radius: 10px;
  border: 0.3rem solid $primary_1;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(1.6rem);
}

.updatePasswordBtn {
  position: fixed;
  width: 9.2rem;
  height: 3rem;
  border-radius: 0.6rem;
  background: $primary_1;
  outline: none;
  border: none;
  color: $secondary_color;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 150%;
  text-align: center;


  top: 18rem;
  right: 14.375rem;

  transition: background 0.3s;

  &:hover {
    cursor: pointer;
    background: $secondary_color;
    border: 3px solid $primary_1;
    color: $primary_1;
    box-shadow: none;
  }

  &:focus {
    cursor: pointer;
    background: $secondary_color;
    border: 3px solid $primary_1;
    color: $primary_1;
    box-shadow: none;
    outline: none;
  }
}

.changePassPara {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
  vertical-align: middle;
  color: $primary_1;
  padding-top: 2rem;
  margin-bottom: 1.8rem;
}

.changePassInputs {
  position: relative;
  text-align: center;
  margin-top: 0.6rem;
}

.eyeIcon {
  position: absolute;
  top: 0.8rem;
  left: 6rem;
  cursor: pointer;
}

.error {
  color: #c30b0b;
  font-size: 1.2rem;
  display: flex;
}

.notificationModal {
  position: fixed;
  top: 0;
  right: 40%;
  transform: translateX(-50%);
  padding: 1rem 1.8rem;
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
  z-index: 1002;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

  &.success {
    background-color: #30ae33;
  }

  &.error {
    background-color: #c30b0b;
  }
}

.notificationContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.closeButton {
  margin-right: 1.8rem;
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.loadingText {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
  justify-content: space-between;
  color: $secondary_color;

  &::after {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 2px solid $primary_1;
    color: $primary_1;
    border-radius: 50%;
    border-top-color: white;
    animation: spin 1s ease-in-out infinite;
  }
  &:hover{
    color: $primary_1;
  }
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.updateProfileBtn:disabled,
.updatePasswordBtn:disabled {
  cursor: not-allowed;
}
