$primary_1 : #303857;
$secondary_color : #f9f9f9;

.container {
  background-color: $secondary_color;
}

.update {
  background-color: white;
  width: 1000px;
  height: 658px;
  margin-right: 375px;
  margin-top: 15px;
}

.userName {
  width: 429px;
  height: 49px;
  margin: 100px 50px 20px 41px;
  padding: 20px 14px;
  border: 2px solid rgba(48, 56, 87, 0.5);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;

  &:focus {
    outline: 1px solid $primary_1;
    border: 2px solid $primary_1;
  }
  &::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: rgba(48, 56, 87, 0.5);
  }
}

.userEmail {
  width: 429px;
  height: 49px;
  padding: 20px 14px;
  border: 2px solid rgba(48, 56, 87, 0.5);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;

  &:focus {
    outline: 1px solid $primary_1;
    border: 2px solid $primary_1;
  }
  &::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: rgba(48, 56, 87, 0.5);
  }
}

.firstName {
  width: 429px;
  height: 49px;
  margin: 0 50px 20px 41px;
  padding: 20px 14px;
  border: 2px solid rgba(48, 56, 87, 0.5);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;

  &:focus {
    outline: 1px solid $primary_1;
    border: 2px solid $primary_1;
  }
  &::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: rgba(48, 56, 87, 0.5);
  }
}

.dayOfBirth {
  appearance: none;
  width: 117px;
  height: 49px;
  text-align-last: center;
  padding-left: 20px;
  margin-left: 5px;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid rgba(48, 56, 87, 0.5);
  border-radius: 10px;
  color: rgba(48, 56, 87, 0.5);
  background: url(icons/downIcon.svg) no-repeat left center ;

  &:focus {
    outline: 1px solid $primary_1;
    border: 2px solid $primary_1;
  }

  &.selected {
    color: $primary_1;
  }
}

.monthOfBirth {
  appearance: none;
  width: 176px;
  height: 49px;
  text-align-last: center;
  padding-left: 10px;
  margin-left: 5px;
  border: 2px solid rgba(48, 56, 87, 0.5);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  color: rgba(48, 56, 87, 0.5);
  background: url(icons/downIcon.svg) no-repeat left center ;

  &:focus {
    outline: 1px solid $primary_1;
    border: 2px solid $primary_1;
  }
  &.selected {
    color: $primary_1;
  }
}

.yearOfBirth {
  appearance: none;
  width: 126px;
  height: 49px;
  text-align-last: center;
  padding-left: 15px;
  //margin-left: 40px;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid rgba(48, 56, 87, 0.5);
  border-radius: 10px;
  color: rgba(48, 56, 87, 0.5);
  background: url(icons/downIcon.svg) no-repeat left center ;

  &:focus {
    outline: 1px solid $primary_1;
    border: 2px solid $primary_1;
  }
  &.selected {
    color: $primary_1;
  }
}

.lastName {
  width: 429px;
  height: 49px;
  padding: 20px 14px;
  margin: 0 50px 20px 41px;
  border: 2px solid rgba(48, 56, 87, 0.5);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;

  &:focus {
    outline: 1px solid $primary_1;
    border: 2px solid $primary_1;
  }
  &::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: rgba(48, 56, 87, 0.5);
  }
}

.password {
  width: 429px;
  height: 49px;
  border: 2px solid rgba(48, 56, 87, 0.5);
  border-radius: 10px;
  padding-top: 5px;
  padding-right: 14px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  color: $primary_1;
  padding-bottom: 5px;

  &:focus {
    outline: 1px solid $primary_1;
    border: 2px solid $primary_1;
  }
  &::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: rgba(48, 56, 87, 0.5);
    letter-spacing: 0;
  }
}

.showPasswordBtn {
  position: absolute;
  border: none;
  background: none;
  margin-right: -30px;
  margin-top: 15px;
  color: rgba(48, 56, 87, 0.5);
}

.bio {
  width: 429px;
  height: 49px;
  padding: 20px 14px;
  margin: 0 50px 20px 41px;
  border: 2px solid rgba(48, 56, 87, 0.5);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  color: $primary_1;
  &:focus {
    outline: 1px solid $primary_1;
    border: 2px solid $primary_1;
  }
  &::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: rgba(48, 56, 87, 0.5);
  }
}

.changePassBtn {
  width: 179px;
  height: 49px;
  text-align-last: center;
  margin-right: 128px;
  color: $secondary_color;
  font-size: 18px;
  font-weight: 500;
  border: 2px solid rgba(48, 56, 87, 0.5);
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  transition: background 0.3s;
  background-color: $primary_1;

  &:hover {
    cursor: pointer;
    background: $secondary_color;
    border: 3px solid $primary_1;
    color: $primary_1;
    box-shadow: none;
  }

  &:focus {
    //cursor: pointer;
    //background: $secondary_color;
    //border: 3px solid $primary_1;
    //color: $primary_1;
    box-shadow: none;
    outline: none;
  }

}

.dropdown {
  position: relative;
  width: 373px;
  height: 0;
}

.gender {
  margin-right: 50px;
  margin-bottom: -50px;
  width: 429px;
  height: 49px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  border: 2px solid rgba(48, 56, 87, 0.5);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: rgba(48, 56, 87, 0.5);
  background-color: white;

  &:hover {
    cursor: pointer;
    outline: 1px solid $primary_1;
    border: 2px solid $primary_1;
  }

  &:focus {
    outline: 1px solid $primary_1;
    border: 2px solid $primary_1;
  }

  &.selected {
    color: $primary_1;
  }
}

.disableGender {
  margin-right: 50px;
  margin-bottom: -49px;
  width: 429px;
  height: 49px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  border: 2px solid rgba(48, 56, 87, 0.5);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: rgba(48, 56, 87, 0.5);
  background-color: white;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -12px;
  color: rgba(48, 56, 87, 0.5);
}

.dropDownMenu {
  position: absolute;
  top: 44px;
  right: 76px;
  width: 100%;
  margin-top: 5px;
  background: rgba(48, 56, 87, 0.9);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}

.option {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  color: $secondary_color;
  border: none;
  background: none;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background: $primary_1;
  }
  &:focus {
    background: $primary_1;
    outline: none;
  }
}

.hr {
  width: 291px;
  border: 1px solid rgba(249, 249, 249, 0.5);
  margin: 0 auto 0;
  border-radius: round(1px);
}

.phoneNumber {
  width: 429px;
  height: 49px;
  padding: 20px 14px;
  border: 2px solid rgba(48, 56, 87, 0.5);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-right: 521px;
  text-align: left;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }

  &:focus {
    outline: 1px solid $primary_1;
    border: 2px solid $primary_1;
  }

  &::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: rgba(48, 56, 87, 0.5);
  }
}

.updateProfileBtn {
  width: 201px;
  height: 65px;
  text-align-last: center;
  margin: 140px 400px;
  color: $secondary_color;
  font-size: 28px;
  font-weight: 500;
  border: 2px solid rgba(48, 56, 87, 0.5);
  border-radius: 10px;
  background-color: $primary_1;
  transition: background 0.3s;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

  &:hover {
    cursor: pointer;
    background: $secondary_color;
    border: 3px solid $primary_1;
    color: $primary_1;
    box-shadow: none;
  }

  &:focus {
    cursor: pointer;
    background: $secondary_color;
    border: 3px solid $primary_1;
    color: $primary_1;
    box-shadow: none;
    outline: none;
  }
}

.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.modalcontent {
  position: fixed;
  width: 38rem;
  height: 23.4rem;
  top: 15rem;
  right: 27rem;
  border-radius: 10px;
  border: 0.3rem solid $primary_1;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(1.6rem);
}

.updatePasswordBtn {
  position: fixed;
  width: 9.2rem;
  height: 3rem;
  border-radius: 0.6rem;
  background: $primary_1;
  outline: none;
  border: none;
  color: $secondary_color;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 150%;
  text-align: center;


  top: 18rem;
  right: 14.375rem;

  transition: background 0.3s;

  &:hover {
    cursor: pointer;
    background: $secondary_color;
    border: 3px solid $primary_1;
    color: $primary_1;
    box-shadow: none;
  }

  &:focus {
    cursor: pointer;
    background: $secondary_color;
    border: 3px solid $primary_1;
    color: $primary_1;
    box-shadow: none;
    outline: none;
  }
}

.changePassPara {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
  vertical-align: middle;
  color: $primary_1;
  padding-top: 2rem;
  margin-bottom: 1.8rem;
}

.changePassInputs {
  text-align: center;
  margin-top: 0.6rem;
}