@use "../../styles/_variables.scss" as vars;

.container {
  background: vars.$primary_2;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.header {
  font-family:'sego' , sans-serif;
  color: vars.$primary_1;
  font-weight: 700;
  font-size: 3rem;
  line-height: 2.5rem;
  margin-bottom: 3rem;
}

.bookName {
  font-size: 2rem;
}

.bookTalk{
  background: vars.$secondary_1;
  height: 49rem;
  width: 67rem;
  padding: 1.8rem 1rem;
  margin-bottom: 3rem;
  border-radius: 0.6rem;
}

.backIcon {
  cursor: pointer;
  img {
    position: absolute;
    left: 12.5rem;
    top: 17.5rem;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 1rem;
    margin-top: 0.4rem;
    transform: rotateY(180deg);
  }
}

.scrollBar {
  background: vars.$secondary_1;
  height: 45rem;
  width: 63rem;
  overflow-y : auto;
  margin-bottom: 3rem;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    border-radius: 0.6rem;
    background: vars.$secondary_2;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 0.6rem;
    background-color: vars.$primary_1;
    min-height: 3rem;
    transition: background 0.3s ease;
  }
}

.scrollBarContent {
  padding: 1.5rem;
  gap: 1.2rem;
  display: inline-flex;
  flex-wrap: wrap;
}

.noList {
  width: 62.5rem;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #939393;
}

.hashtag{
  color: #518EF8;
}

.minComment {
  background: vars.$primary_2;
  width: 215px;
  height: auto;
  padding: 1.1rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  color: vars.$primary_1;
  border: 2px solid vars.$primary_1;
  border-radius: 0.6rem;

  img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
  }
}

.minCommentInfo {
  display: flex;
  flex-direction: row;
  gap: 1.3rem;
  cursor: pointer;
  max-width: 11.5rem;
}

.minUserInfo {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  text-align: right;
}

.minUserName{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: 13px;
}

.minUserId {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: ltr;
  font-weight: 300;
  font-size: 13px;
}

.minCommentContent {
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  text-align: right;
  text-decoration: none;
  color: vars.$primary_1;
  cursor: pointer;
}

.midComment {
  background: vars.$primary_2;
  width: 215px;
  height: 210px;
  padding: 1.1rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  color: vars.$primary_1;
  border: 2px solid vars.$primary_1;
  border-radius: 0.6rem;
}

.midCommentInfo {
  display: flex;
  flex-direction: row;
  gap: 1.3rem;
}

.midUserInfo {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  text-align: right;
  width: 120px;
}

.midUserName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: 13px;
}

.midUserId {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: ltr;
  font-weight: 300;
  font-size: 13px;
}

.midCommentContent {
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  text-align: right;
}

.maxComment {
  background: vars.$primary_2;
  width: 215px;
  height: 274px;
  padding: 1.1rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  color: vars.$primary_1;
  border: 2px solid vars.$primary_1;
  border-radius: 0.6rem;
  margin-top: -2.5rem;
}

.maxComment2 {
  background: vars.$primary_2;
  width: 215px;
  height: 274px;
  padding: 1.1rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  color: vars.$primary_1;
  border: 2px solid vars.$primary_1;
  border-radius: 0.6rem;
  margin-top: -4.1rem;
}

.maxCommentInfo {
  display: flex;
  flex-direction: row;
  gap: 1.3rem;
}

.maxUserInfo {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  text-align: right;
  width: 120px;
}

.maxUserName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: 13px;
}

.maxUserId {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: ltr;
  font-weight: 300;
  font-size: 13px;
}

.maxCommentContent {
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  text-align: right;
}

.tinyComment {
  background: vars.$primary_2;
  width: 215px;
  height: 158px;
  padding: 1.1rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  color: vars.$primary_1;
  border: 2px solid vars.$primary_1;
  border-radius: 0.6rem;
}

.tinyCommentInfo {
  display: flex;
  flex-direction: row;
  gap: 1.3rem;
}

.tinyUserInfo {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  text-align: right;
  width: 120px;
}

.tinyUserName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: 13px;
}

.tinyUserId {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: ltr;
  font-weight: 300;
  font-size: 13px;
}

.tinyCommentContent {
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  text-align: right;
}

.error {
  color: #c30b0b;
  font-size: 1.2rem;
  display: flex;
}

.notificationModal {
  position: fixed;
  top: 0;
  left: 37%;
  transform: translateX(-50%);
  padding: 1rem 1.8rem;
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
  z-index: 1002;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

  &.success {
    background-color: #30ae33;
  }

  &.error {
    background-color: #c30b0b;
  }
}

.notificationContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.closeButton {
  margin-right: 1.8rem;
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}