@use "../../styles/variables" as vars;

.container {
  display: flex;
  text-align: right;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: vars.$primary_1;
  background-color: vars.$primary_2;
}
//.container img {
//  width: 136px;
//  height: 102px;
//  margin-top: 1px;
//}

.header {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin: 0 0 1.3rem 0;
}