@use "../../styles/variables" as vars;

.container {
  background-color: vars.$primary_2;
}

.favoriteSide {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding-right: 5rem;
  padding-bottom: 3rem;
}

.MyFave {
  background-color: vars.$secondary_1;
  width: 62.5rem;
  height: 41.125rem;
}

.header {
  padding-top: 2.375rem;
  padding-right: 3rem;
  padding-bottom: 0.6rem;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: right;
  color: vars.$primary_1;
}

.MyFaveGenre {
  margin-right: 3rem;
  min-width: 56.25rem;
  max-width: 56.25rem;
  min-height: 2.938rem;
  max-height: 2.938rem;
  overflow-y: auto ;
  display: flex;
  flex-wrap: wrap;
  text-align: right;
  gap: 0.6rem;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    border-radius: 0.6rem;
    background: vars.$secondary_2;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 0.6rem;
    background-color: vars.$primary_1;
  }
}

.Genres {
  color: vars.$primary_1;
  width: 7.2rem;
  height: 2.563rem;
  border: 1px solid vars.$primary_1;
  border-radius: 0.6rem;
  background-color: vars.$secondary_3;
  text-align: center;
  align-content: center;
}

.editGenresBtn {
  width: 2.563rem;
  height: 2.563rem;
  border: none;
  border-radius: 50%;
  background: none;
  margin-right: 1.3rem;

  img {
    width: 2.563rem;
    height: 2.563rem;
  }

  &:hover {
    cursor: pointer;
    background: vars.$hover-opacity;
    transition: 0.3s;
  }
  &:focus {
    background: vars.$hover-opacity;
    transition: 0.3s;
    outline: none;
  }
}

.MyFaveBooks {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: right;
  color: vars.$primary_1;
  padding-top: 1.875rem;
  padding-right: 2.813rem;
}

.scrollbar {
  overflow-y: scroll;
  background: vars.$secondary_1;
  width: 54.813rem;
  height: 28.125rem;
  margin: 0.6rem 4.625rem;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    border-radius: 0.6rem;
    background: vars.$secondary_2;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 0.6rem;
    background-color: vars.$primary_1;
    min-height: 3rem;
  }

}

.myBookCards {
  display: flex;
  gap: 0.6rem;
}

.bookCard {
  background: none;
  border: none;
  width: 8.313rem;
  height: 15.625rem;
  margin-bottom: 1.3rem;
  text-align: center;
  img {
    margin-top: -0.813rem;
    width: 8rem;
    height: 11.5rem;
  }
  h4 {
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    color: vars.$primary_1;
    inline-size: 8.125rem;
    display: inline-block;
    width: 6.875rem;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }
  p {
    font-weight: lighter;
    font-size: 0.875rem;
    text-align: center;
    color: vars.$primary_1;
  }
  &:hover {
    cursor: pointer;
    transform: scale(1.04);
    background: vars.$hover-opacity;
    transition: 0.3s;
  }
  &:focus {
    transform: scale(1.04);
    background: vars.$hover-opacity;
    transition: 0.3s;
    outline: none;
  }
}