@use "../../styles/variables" as vars;

.rules {
  color: vars.$primary_1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
  height: 100%;
  text-align: right;
  background-color: vars.$primary_2;
}

.rules img {
  width: 8.5rem;
  height: 6.3rem;
  margin-top: 1px;
}

.header {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2.5rem;
}

.rules header{
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 2.5rem;
  padding-right: 0;
  text-align: justify;
  text-justify: inter-word;
  margin: 5.6rem 13.75rem 0 13.75rem;
}

.rules ul {
  list-style: disc;
  padding-right: 1.3rem;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 2.5rem;
  text-align: justify;
  text-justify: inter-word;
}

.rules ol {
  list-style: decimal;
  padding: 0;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 2.5;
  text-align: justify;
  text-justify: inter-word;
  margin: -1rem 13.75rem 0 13.75rem;
}
.rules ol li {
  margin-top: 1rem;
  margin-bottom: 5px;
  font-size: 1.5rem;
  font-weight: 1000;
}

.rules ul li {
  margin-right: -1.2rem;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 0.6rem;
  margin-top: 0.6rem;
}

.li {
  list-style: none;
  font-weight: 300;
  font-size: 1.2rem;
  text-align: justify;
  text-justify: inter-word;
  line-height: 2.5;
  margin: -5px -1.2rem -5px 0;
}

