

.otpContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
    direction: ltr;
    
  }
  
  .otpInput {
    width: 40px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #303857;
    border-radius: 5px;
  }
  
  .confirmButton {
  width: 217px;
  height: 65px;
  border-radius: 20px;
  background-color: #303857;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  margin-right: 70px;
  margin-top: 20px;
  &:hover {
    cursor: pointer;
    background: #f9f9f9;
    border: 3px solid #303857;
    color: #303857;
    box-shadow: none;
}
  }
  
  .resendText {
    margin-top: 35px;
    margin-right: 65px;
    color: rgba(48, 56, 87, 0.35);
  }
  
  .resendLink {
    color: #1f2937;
    cursor: pointer;
  }
  * {
    font-family: "shabnam", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
    position: relative;
    margin-top:0;
  }
  .header {
    position: absolute;
    top: 2px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo {
    width: 211px;
    height: 132px;
    margin-right: 645px;
  }
  
  .toggleButtons {
    display: flex;
    width: 295px;
    height: 68px;
    border: 2px solid #303857;
    border-radius: 50px;
    margin-right: 615px;
    margin-top: 20px;
  
  
  }
  
  .toggleButtons button {
    flex: 1;
    border: none;
    background: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .toggleButtons .active {
    background-color: #303857;
    color: white;
    border-radius: 50px;
  }

  .mainContent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    gap: 40px;
    transition: all 0.5s ease-in-out;
    margin-bottom: 5px;
    width: 1300px;
    margin-right: 120px;
  
  
  }
  
  .imageContainer {
    width: 400px;
    height: 470px;
    margin-right: 190px;
    margin-left: 50px;
    margin-bottom: 30px;
  }
  .textheader{
    width: 385px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0%;
    line-height: 40px;
    margin-bottom: 50px;
    color: #303857;
  }
  .errorText {
    color: red;
  }
  