$primary_1:#303857;
$secondary_color:#f9f9f9;

html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.container {
    padding: 2rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: $secondary_color;
    width: 100vw;
}

.topSection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    width: 1200px;
    height: 337px;
    padding: 1rem;
    margin-right: 5px;
    margin-top: 10px;
    gap: 40px;


}

.booksDisplay {
    display: flex;
    gap: 1rem;


}




.bookCard {
    width: 156px;
    height: 248px;
    display: flex;


}
.bookCardWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h4{
        margin-top: 5px;
    }
}
.bookCardWrapper:hover {
    transform: scale(1.05);
}
.descontainer{
    width: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;


}
.heading{
    width: 427px;
    height: 40px;
    color:$primary_1;
    font-weight:700 ;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0;
    white-space: nowrap;
    margin-bottom: 30px;
    margin-right: 2px;
}
.description {
    text-align: right;
    width: 467px;
    height: 156px;
    color:$primary_1;
    margin-right: 20px;
    font-size: 22px;
    margin-right: 45px;
    margin-bottom: 20px;
    line-height: 40px;
    font-weight: 300;
}

.mbtitest {
    width: 218px;
    height: 70px;
    margin-right: 150px;
    background-color: $primary_1;
    color: $secondary_color;
    border: none;
    border-radius: 10px;
    line-height: 100%;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover {
        cursor: pointer;
        background: $secondary_color;
        border: 3px solid $primary_1;
        color: $primary_1;
        box-shadow: none;
    }
}


.popularSection {
    width: 1400px;
    text-align: right;
    margin-top: 2rem;
    align-items: center;
    margin-bottom: 142px;
    margin-right: 100px;
    h2{
        color: $primary_1;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0;
        font-size: 28px;
        margin-bottom: 30px;
    }

}
.bookCardWrapper{
    h4{
        color: #303857;
    }
}
.cardwrapper{
    width: 202px;
    height: 393px;

    h4{
        color: #303857;
        text-align: center;
        font-weight: 700;
        font-size: 20px;
    }
    p{
        text-align: center;
        font-weight: 300;
        font-size: 20px;
    }
}

.popularBooks {
    display: flex;
    gap: 15px;
}
.toptext{
    display: flex;
    justify-content: space-between;
    color: $primary_1;
    height: 100px;
    display: flex;
    width: 1270px;
    padding-top: 20px;
    white-space: nowrap;
    margin-top: 30px;
    :hover{
        cursor: pointer;

    }

}
.showbutton{
    width: 145px ;
    height: 40px;
    border: $primary_1 1px solid;
    color: $primary_1;
    border-radius: 10px;
    margin-bottom: 100px;

}

.bookTalk {
    display: flex;
    margin-right: 0 !important;
    justify-content: space-between;
    width: 1600px;
    height: 587px;
    margin-top: 40px;
    align-items: center;
    background-color: $primary_1;
    color:$secondary_color;
    position: relative;
    margin-right: 0;

    .content {
        margin-top: 20px;




        h2 {
            font-family: Segoe Print;
            margin-right: 1006px;
            width: 164px;
            height: 40px;
            color:$secondary_color;
            font-weight: 700;
            line-height: 40px;
            margin-bottom: 20px;
            margin-top: 0;
            font-size: 36px;
        }
        h4{
            margin-right: 805px;
            font-weight: 500;
            margin-bottom: 20px;
            font-size: 24px;
            color: $secondary_color;

        }
        p {
            font-size: 22px;
            margin-bottom: 50px;
            line-height: 40px;
            width: 538px;
            font-weight: 300;
            height: 96px;
            margin-right: 850px;
            margin-top: 40px;
            color: $secondary_color;
        }
    }
    .button {
        background-color: $secondary_color;
        width: 239px;
        height: 70px;
        color: $primary_1;
        border: none;
        padding: 0.8rem 1.5rem;
        font-size: 22px;
        font-weight: bold;
        border-radius: 10px;
        margin-right: 980px;
        cursor: pointer;
    }

}
.wrapper {
    position: relative;
    padding: 50px;
    &::before,
    &::after {
        content: '';
        position: absolute;
        background-color:$secondary_color;
    }
    &::before {
        width: 2px;
        height: 335px;
        top: 132px;
        left: 50px;
    }

    &::after {
        height: 1px;
        width: 335px;
        top: 450px;
        left: 30px;
    }
}

.topImage{
    top: 0;
    right: 2px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    justify-content: flex-start;
    img{
        top: 0;
        left: 0;
    }
}
.buttomImage{
    bottom: 0;
    right: 0;
    display: flex;
    position: absolute;
    align-items: flex-start;
    justify-content: flex-start;
    img{
        top: 0;
        left: 0;

    }
}
.suggestion{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 26px;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    text-align: right;
    position: relative;
    margin-top: 2rem;
    right: 0;
    align-items: center;
    h2{
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0;
        color: $primary_1;
        margin-right: 20px;
        width: 252px;
        height: 40px;
        font-size: 22px;

    }
    h3{
        font-weight: 300;
        font-size: 22px;
        margin-right: 20px;
        line-height: 40px;
        letter-spacing: 0;
        color: $primary_1;
    }
    p{
        font-weight: 100;
        margin-right: 20px;
        line-height: 30px;
        letter-spacing: -5%;
        color: $primary_1;
        font-size: 14px;
        width: 335px;
        height: 120px;
    }
}
.bookcover{
    width: 590px;
    height: 222px;
    border: $primary_1 1px solid;
    h3{
        white-space: nowrap;
        margin-top: 5px;
    }

}
.coverimage{
    float: left;
    height: 220px;
    width: 222px;
    margin-left: 0;
}
.listsWrapper {
    display: flex;
    width: 1280px;
    height: 306px;
    justify-content: center;
    margin-bottom: 200px;
    margin-right: 1px;
}
.listCard {
    display: flex;
    background:$primary_1;
    color:$secondary_color;
    padding: 20px;
    width: 400px;
    flex-direction: column;

}


.category {
    width: 158px;
    height: 40px;
    font-weight: 700;
    color: $secondary_color;
    white-space: nowrap;
    font-size: 24px;
    margin-top: 23px;
    margin-right: 68px;
    line-height: 40px;


}

.author {
    color: $secondary_color;
    font-size: 24px;
    margin-right: 68px;
    font-weight: 300;
    line-height: 40px;
}


.fante1{
    width: 246px;
    height: 390px;
    margin-left: -5px;
}
.fante{
    width: 246px;
    height: 390px;
    margin-left: 0;
}
.description2{
    color: $secondary_color;
    letter-spacing: -5%;
    line-height: 30px;
    font-weight: 100;
    margin-right: 68px;




}
.wrapper2 {
    position: relative;
    padding: 20px;




    &::before,
    &::after {
        content: '';
        position: absolute;
        background-color: white;
    }
    &::before {
        width: 1px;
        height: 233px;
        top: 32px;
        left: 290px;
        background-color: $secondary_color;
    }

    &::after {
        height: 1px;
        width: 315px;
        top: 250px;
        left: 10px;
    }
}

.imageUrl{
    width:202px;
    height: 393px;
}
