@use "../../styles/variables" as vars;

body {
  background: vars.$primary_2;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatContainer {
  border-radius: 0.6rem;
  width: 83%;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  background: white;
  padding: 1rem 1rem;
}

.chat {
  display: flex;
  flex-direction: row;
  //gap: 3rem;
  align-items: center;
  justify-content: center;

}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18rem;
  margin-top: -15.5rem;


  overflow-y: scroll;
  overflow-x: hidden;

}
