@font-face {
  font-family: "shabnam";  
  src: local("shabnamfont"),
    url("./fonts/Shabnam.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
body {
  font-family: 'shabnam', sans-serif;
}