$primary_1: #303857;

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  padding: 1.3rem;
  border-radius: 0.6rem;
  text-align: center;
  width: 54rem;
  height: 33.5rem;

  h2 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
    vertical-align: middle;
    color: $primary_1;
    margin-bottom: 1.7rem;
    margin-top: 1rem;
  }
  border: 0.3rem solid $primary_1;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(1.6rem);
}

.genreList {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.4rem;
  row-gap: 0.6rem;
  justify-content: center;
  margin-top: 0.6rem;
}

.genreButton {
  background: rgba(48, 56, 87, 0.35);
  border: 1px solid $primary_1;
  border-radius: 0.6rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 2.5rem;
  text-align: center;
  width: 11rem;
  height: 3rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
}

.closeButton {
  margin-top: 1.5rem;
  text-align: center;
  color: #f9f9f9;
  border: 2px solid $primary_1;
  border-radius: 0.6rem;
  background: $primary_1;
  transition: background 0.3s;
  width: 11rem;
  height: 3rem;
  font-size: 1.2rem;

  &:hover {
    cursor: pointer;
    border: 2px solid $primary_1;
    background: rgba(249, 249, 249, 0.6);
    outline: none;
    color: $primary_1;
  }
}

.icon {
  position: absolute;
  left: 0.6rem;
  width: 1.7rem;
  height: 1.7rem;
}