*{
  font-family: 'shabnam', sans-serif;

}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff;
}

.header {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 211px;
  height: 132px;
  margin-bottom: 20px;
  margin-top: 1px;
}

.toggleButtons {
  display: flex;
  gap: 0/5rem;
  width: 295px;
  height:48px;
  border: 2px solid #303857;
  border-radius: 50px;
  

}

.toggleButtons button {
  padding: 0.5rem 1.5rem;
  border: none;
  background: none;
  font-size: 8px bold;
  cursor: pointer;
  width: 180px;

}

.toggleButtons .active {
  background-color: #303857;
  color: white;
  border-radius: 20px;
}

.mainContent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-top: 186px;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer {
  width: 417px;
  height: 484px;
  margin-top:54px;
  margin-right: 160px;
}
.inputgroup{
  width: 428.2184753417969px;
  height: 48.653465270996094px;
  border-radius: 10px;
  border:2px solid #303857;
  display: block;
  margin-bottom: 10px;
}
