.RAR {
  color: #303857;
  height: 100%;
  background-color: #f9f9f9;
}

.RAR img {
  width: 136px;
  height: 102px;
  margin-top: 1px;
  margin-left: 572px;
  margin-right: 580px;
  margin-bottom: 10px;
}

.RAR h3 {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  vertical-align: middle;
  margin-bottom: 60px;
}

.RAR header {
}
.RAR ol {
  list-style: decimal;
}

.RAR ul {
  list-style: disc;
}
